
body{
    background-color: rgb(15, 230, 230);
}
body :hover{
    background-color: rgb(230, 215, 10);
}

div{
    height: 300%;
     background-color: rgb(230, 215, 10);
    width: 100%;0, 0, 0
    
}
div:hover{
    background-color: rgb(15, 230, 230);
    transform: rotate(360)
}
p{
    color: rgb(15, 230, 230);
}
p :hover{
    color: rgb(230, 215, 10);
}